<StackLayout class="page-padding">
	<Label text="Playlists" class="title" textWrap="true"></Label>
	<ListView #playlistList [items]="playlists$ | async" class="list-group">
		<ng-template let-item="item" let-odd="odd" let-even="even" let-i="index">
			<StackLayout>
				<GridLayout *ngIf="item.name != 'Favorites'" rows="*" columns="*" [nsRouterLink]="['/app/playlist', item.id ]" class="playlist-list-item">
					<Label row="0" , col="0" [text]="item.name" class="playlist"></Label>
				</GridLayout>
				<GridLayout *ngIf="item.name == 'Favorites'" rows="*" columns="auto,*" [nsRouterLink]="['/app/favorites']" class="playlist-list-item">
					<Label row="0" col="0" text="&#xf004;" class="fa fa-heart" textWrap="true"></Label>
					<Label row="0" col="1" text="{{ item.name }} " class="playlist "></Label>
				</GridLayout>
			</StackLayout>
		</ng-template>
	</ListView>
</StackLayout>