.playlist-list-item{
	padding-top: 15;
	padding-bottom: 15;
	border-bottom-width: 1;
	border-bottom-color:#e4e3e3;
}
.playlist {
	font-size: 18px;
	padding-left: 10;
}

.letter-wrap{
	margin-top: 130;
	font-size: 13px;
}

.letter-wrap Label{
	height: 14;
	font-weight: bold;
	color: #ca9fdb;
	text-transform: uppercase;
	text-align: center
}
.list-group{
	height: 100%;
}
image{
	border-width: 1;
	border-color: #e4e3e3;
}
.fa-heart{
	color:#eb2e9c;
	text-align: center;
	font-size: 35;
	border-radius: 2;
	border-width: 1;
	border-color: #e4e3e3;
}