<StackLayout *ngIf="album$ | async as album" [animate]="animateOptions" class="offset-for-slide">
	<Label [nsRouterLink]="['../../albums', album.artistId ]" class="fa back-link" text="&#xf0d9; {{ album.artist }}" textWrap="true"></Label>
	<Label text="{{ album.name }}" class="title page-padding" textWrap="true"></Label>
	<StackLayout orientation="horizontal" class="button-wrap page-padding">
		<Button class="fa" text="&#xf0ed; Download" *ngIf="!allSongsDownloaded" (tap)="downloadAllSongs()"></Button>
		<Label class="fa" text="&#xf00c; Downloaded" *ngIf="allSongsDownloaded"></Label>
		<Button class="fa" text="&#xf074; Shuffle" (tap)="playAndShuffle()"></Button>
	</StackLayout>

	<ListView [slideBack]="['/app/albums', album.artistId ]" [items]="songs$ | async" class="list-group">
		<ng-template let-item="item" let-odd="odd" let-even="even">
			<GridLayout rows="*" columns="30,*,60" class="song-list-item page-padding">
				<Label row="0" , col="0" [text]="item.track" (tap)="selectSong(item)" class="track-number"></Label>
				<Label row="0" , col="1" [text]="item.title" (tap)="selectSong(item)" class="song"></Label>
				<Label row="0" , col="2" (tap)="download(item)" text="&#xf0ed;" *ngIf="!downloaded(item)" class="fa fa-download" textWrap="true"></Label>
			</GridLayout>
		</ng-template>
	</ListView>
</StackLayout>