.album {
	height: 100%;
}
.album-name{
	text-align: center;
	font-weight: bold;
	font-size: 18;
}
.song-list-wrap, .list-group{
	height: 100%;
}
.song-list-item{
	padding: 15;
}
.song {
	margin: 3% 2.5%;
	font-size: 18px;

}
.letter-wrap{
	margin-top: 130;
	font-size: 13px;
}

.letter-wrap Label{
	height: 14;
	font-weight: bold;
	color: #4B0082;
	text-transform: uppercase;
	text-align: center
}