/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
$backgroundColor: #fff;
$lightPurple: #ca9fdb;
$darkPurple: #4b0082;
$black: #36454f;
$lightGrey: #646262;

/*Login*/
.login {
  color: $lightPurple;
  font-size: 50;
  text-align: center;
  width: 100%;
  margin-bottom: 10%;
}

.login-wrap TextField {
  text-align: center;
  margin: 5 0 5 0;
  font-size: 16;
  color: $black;
}

/* Player */
.player-wrap-background {
  background-color: $backgroundColor;
  .player-wrap {
    border-bottom-left-radius: 20;
    border-bottom-right-radius: 20;
    background-color: $backgroundColor;
  }
  ActionBar {
    background-color: $backgroundColor;
  }
  .back-button {
    width: 80%;
    align-content: center;
  }
  .loading-album {
    text-align: center;
    font-size: 105;
    color: $lightPurple;
    opacity: 0.8;
  }
  .album-art Image {
    border-radius: 4;
    /* margin-top: 20;
	margin-bottom: 30; */
  }
  Progress {
    background-color: $lightGrey;
    color: $lightPurple;
    width: 67%;
    margin-top: 15px;
  }
  .hide-button {
    font-size: 35;
    color: $lightPurple;
    text-align: center;
  }
  .heart-wrap {
    text-align: right;
    padding-top: 15;
    padding-right: 25;
  }
  .song-title,
  .song-artist,
  .song-album {
    text-align: center;
    color: $black;
  }

  .song-title {
    font-size: 25;
    font-weight: bold;
  }
  .song-artist,
  .song-album {
    font-size: 18;
  }
  .song-artist {
    font-weight: bold;
  }
  .song-album {
    font-style: italic;
    color: $lightGrey;
  }

  .player-controls Label {
    text-align: center;
    height: 66;
    color: $black;
  }
  .mini-player-button {
    width: 66;
    border-radius: 33;
    font-size: 36;
    color: $black;
  }
  .disabled {
    color: $lightGrey;
  }
  .next-previous {
    color: $black;
    font-size: 25;
    width: 66;
    border-radius: 33;
  }

  .random-repeat {
    color: $lightGrey;
  }
  .random-repeat-enabled {
    color: $lightPurple;
  }
  .time {
    text-align: center;
    font-size: 11px;
    vertical-align: top;
    color: $black;
  }
  .queue-button {
    color: #a4a4a4;
    text-align: left;
    margin-left: 25;
    font-size: 25px;
  }
  /* .song-list-wrap,
.list-group {
  height: 100%;
}
.song-list-item {
  padding: 15;
}
.song {
  margin: 3% 2.5%;
  font-size: 18px;
} */
}

// Main App
.app-wrap {
  .subular {
    font-size: 35;
  }
  .sidedrawer-wrap {
    padding-top: 50;
    background-color: $darkPurple;
  }

  & .sidedrawer-wrap label {
    color: $backgroundColor;
  }

  & .navigation {
    border-top-width: 1;
    border-top-color: #f9f9f9;
  }
  & .navigation-option {
    text-align: center;
    font-size: 18;
    font-weight: bold;
    height: 100%;
    color: $black;
  }

  & .mini-player {
    background-color: #dbd3de;
    height: 70;
  }
  & .mini-player-button {
    color: $black;
    font-weight: bold;
    font-size: 28;
    text-align: center;
  }

  & .loading-text {
    font-size: 28;
    text-align: center;
    margin-top: 5%;
    color: $black;
  }
  & .loading-image {
    margin-top: 25%;
  }
  & .song-title {
    vertical-align: bottom;
  }
  & .song-artist {
    vertical-align: top;
    font-size: 13;
    font-style: italic;
    color: $black;
  }
}

// Album
.album-wrap {
  .album {
    height: 100%;
  }
  .album-name {
    text-align: center;
    font-weight: bold;
    font-size: 18;
  }
  .song-list-wrap,
  .list-group {
  }
  .song-list-item {
  }
  .song {
    margin-top: 15;
    margin-bottom: 15;
    color: #36454f;
    height: 100%;
    font-size: 18px;
  }
  .letter-wrap {
    margin-top: 130;
    font-size: 13px;
  }

  .letter-wrap Label {
    height: 14;
    font-weight: bold;
    color: #4b0082;
    text-transform: uppercase;
    text-align: center;
  }
  .fa-download {
    text-align: center;
    color: #ca9fdb;
  }

  .track-number {
    color: #8f8e8e;
    text-align: center;
    margin-top: 15;
    margin-bottom: 15;
  }

  .placeholder .song,
  .placeholder .track-number {
    background-color: #f8f8f8;
    color: #f8f8f8;
    border-radius: 2;
    /* padding: 0;
  margin: 9; */
  }
  .placeholder .track-number {
    margin-right: 10;
  }
  .placeholder .song {
    /* width: 25; */
    margin-right: 0;
  }
}

.albums-wrap {
  .artist-name {
    text-align: center;
    font-weight: bold;
    font-size: 18;
  }
  .album-card {
    /* border-width: 1;
    border-color: #e4e3e3;
    border-bottom-left-radius: 4;
    border-bottom-right-radius: 4; */
  }
  .album-image {
    background-color: #e4e3e3;
  }
  .album-name {
    /* font-size: 13; */
    color: #36454f;
    margin-top: 6;
    margin-bottom: 6;
    /* margin-left: 2; */
  }
  .artist-info {
    padding-right: 15;
    padding-left: 15;
    padding-bottom: 5;
  }

  .artist-image {
    border-radius: 38;
  }
  .header-list-item {
    margin-bottom: 10;
  }
  .button-wrap Button,
  .button-wrap Label {
    width: 49%;
    padding-top: 15;
    padding-right: 15;
    padding-left: 15;
    padding-bottom: 5;
    color: #c4c2c2;
    font-size: 14;
    text-align: center;
  }
  .button-wrap Button:highlighted {
    background-color: #ca9fdb;
    color: #ffffff;
    font-weight: bold;
    border-radius: 7;
  }
  .song-list-title {
    color: #36454f;
    font-size: 18;
    font-weight: bold;
    margin-top: 20;
  }
  .song-list-sub {
    font-size: 12;
    color: #c4c2c2;
  }
  .song-list-info-wrap {
    padding-top: 12.5;
  }
}

// playlist

.playlist-wrap {
  .playlist {
    height: 100%;
  }
  .playlist-name {
    text-align: center;
    font-weight: bold;
    font-size: 18;
  }
  .song-list-wrap,
  .list-group {
    height: 100%;
  }
  .song-list-item {
  }
  .song {
    padding-top: 15;
    height: 100%;
    font-size: 18px;
    color: #36454f;
  }
  .letter-wrap {
    margin-top: 130;
    font-size: 13px;
  }

  .letter-wrap Label {
    height: 14;
    font-weight: bold;
    color: #4b0082;
    text-transform: uppercase;
    text-align: center;
  }
  .fa-download {
    text-align: center;
    color: #ca9fdb;
  }
  .button-wrap Button,
  .button-wrap Label {
    width: 49%;
    padding: 15;
    color: #c4c2c2;
    font-size: 14;
    text-align: center;
  }
  .button-wrap Button:highlighted {
    background-color: #ca9fdb;
    color: #ffffff;
    font-weight: bold;
    border-radius: 7;
  }
  .track-number {
    padding-top: 15;
    color: #8f8e8e;
    text-align: center;
  }
  .artist {
    font-size: 13;
    font-style: italic;
    color: #646262;
  }

  .remove {
    background-color: red;
    color: #fff;
    width: 100%;
    height: 52;
    text-align: right;
    padding-right: 22;
    margin-left: 18%;
  }

  .placeholder .song,
  .placeholder .track-number {
    background-color: #f8f8f8;
    color: #f8f8f8;
    border-radius: 2;
    padding: 0;
    margin: 9;
  }

  .placeholder .song {
    /* width: 25; */
    margin-right: 0;
  }
}

// playlists
.playlists-wrap {
  .playlist-list-item {
    padding-top: 15;
    padding-bottom: 15;
    border-bottom-width: 1;
    border-bottom-color: #e4e3e3;
  }
  .playlist {
    font-size: 20px;
    padding-left: 10;
  }

  .letter-wrap {
    margin-top: 130;
    font-size: 13px;
  }

  .letter-wrap Label {
    height: 14;
    font-weight: bold;
    color: #ca9fdb;
    text-transform: uppercase;
    text-align: center;
  }
  .list-group {
    height: 100%;
  }
  image {
    /* border-width: 1;
    border-color: #e4e3e3; */
  }
  .fa-heart {
    color: #eb2e9c;
    text-align: center;
    font-size: 35;
    border-radius: 2;
    border-width: 1;
    border-color: #e4e3e3;
  }
  ActivityIndicator {
    margin-top: 45%;
  }
  .first-item {
    padding-top: 50;
  }
  .title {
    background-color: #fff;
    width: 100%;
  }

  .playlist-image {
    background-color: #f8f8f8;
  }
  .placeholder-name {
    background-color: #f8f8f8;
    color: #f8f8f8;
    border-radius: 2;
    padding: 0;
    height: 25;
    margin: 9;
  }
}

.recently-added-wrap {
  ActivityIndicator {
    margin-top: 45%;
  }
  .first-item {
    padding-top: 50;
  }
  .title {
    background-color: #fff;
    width: 100%;
  }
  ListView {
    separator-color: transparent;
  }
}
.artist-list {
  .list-view {
  }
  .artist-list-item {
    padding-top: 15;
    padding-bottom: 15;
    border-bottom-width: 1;
    border-bottom-color: #e4e3e3;
  }
  .title {
    background-color: #fff;
    width: 100%;
  }

  .first-item {
    padding-top: 55;
  }
  .artist {
    margin: 0;
    padding: 3% 0 3% 0;
    font-size: 20px;
    margin-left: 10;
  }

  .letter-wrap {
    margin-top: 120;
    font-size: 13px;
  }

  .letter-wrap Label {
    height: 16;
    font-weight: bold;
    color: #ca9fdb;
    text-transform: uppercase;
    text-align: center;
  }
}

Image {
  border-radius: 2;
}
Button {
  color: $lightPurple;
}

.fa {
  font-family: 'FontAwesome', fontawesome-webfont;
}

.pacifico {
  font-family: 'Pacifico', Pacifico;
}

.border-outline {
  border-width: 0;
}

.debug {
  border-color: red;
  border-width: 1;
}
.page-padding {
  padding-left: 18%;
  padding-right: 18%;
}
.page-padding-left {
  padding-left: 18%;
}

.back-link {
  font-size: 18;
  margin: 10 10;
  height: 22;
  color: $lightPurple;
  font-weight: bold;
}

.offset-for-slide {
  transform: translateX(300);
}
.title {
  color: $black;
  font-size: 28;
  font-weight: bold;
  padding-top: 10;
  padding-bottom: 8;
  /* font-family: 'Pacifico', Pacifico;
  text-transform: lowercase; */
}
