td{
	font-size:14px;
	line-height:22px;
}

.table-wrap{
	height: 100%;
}
table{
	width: 98%;
	margin: 0 1%;

}
.row-artist{
	padding:0 10px;
}
.row-song{
	max-width:45%;
	overflow:hidden;
}
.row-track{
	width: 19px;
}
.row-num{
	padding-right:5px;
}
tr{
	/*border-bottom: 1px #efefef solid;*/
	cursor:hand;
}
td, th{
	overflow:hidden;
	padding:0 5px;
	/*color:#f8f8ff;*/
}
tr td:first-child{
	padding-left:10px;
}
tr td:last-child{
	padding-right:10px;
}
tr:hover{
	color:#9d9d9d;
	/*background-color:#9d9d9d;*/
}
.rowPlaying{
	background: -webkit-linear-gradient(#4B0082,#4B0082);
	font-weight:600;
	color:#f8f8ff;
}
.rowPlaying td{
	color:#f8f8ff !important;
}
.small-th{
	width:15px;
}