<table>
	<thead>
		<tr>
			<th class="row-num"></th>
			<th width="45%" class="text-center row-song">
				Song
			</th>
			<th class="text-center row-track">
				track#
			</th>
			<th class="text-center row-artist">
				Artist
			</th>
			<th class="text-right">
				Album
			</th>
			<th class="small-th">&nbsp;</th>
			<th class="small-th" *ngIf="removeFromPlaylist">&nbsp;</th>
		</tr>
	</thead>
	<tr [ngClass]="{rowPlaying : nowPlayingSong == song}" *ngFor="#song of songs; #i = index">
		<td (click)="playSongFromList(i)" class="text-left">{{rowNum(i)}}</td>
		<td (click)="playSongFromList(i)" class="text-left row-song">
			{{song.title}}
		</td>
		<td (click)="playSongFromList(i)" class="text-right">
			{{song.track}}
		</td>
		<td (click)="playSongFromList(i)" class="text-center">
			{{song.artist.replace(' ','&nbsp;')}}
		</td>
		<td (click)="playSongFromList(i)" class="text-right">
			{{song.album}}
		</td>
		<td class="small-th">
			<subular-item-menu [song]="song"></subular-item-menu>
		</td>
		<td class="small-th">
			<i *ngIf="removeFromPlaylist" (click)="removeSong(playlistId,song.id)" class="fa fa-close"></i>
		</td>
	</tr>
</table>