<div class="table-wrap">
	<table>
		<thead>
			<tr [class.dark]="darkStyle" [class.light]="!darkStyle">
				<th class="row-num" [class.dark]="darkStyle" [class.light]="!darkStyle"></th>
				<th width="45%" class="text-center row-song" [class.dark]="darkStyle" [class.light]="!darkStyle">
					Song
				</th>
				<th class="text-center row-track" [class.dark]="darkStyle" [class.light]="!darkStyle">
					Time
				</th>
				<th class="text-center row-track" [class.dark]="darkStyle" [class.light]="!darkStyle">
					Track#
				</th>
				<th class="text-center row-artist" [class.dark]="darkStyle" [class.light]="!darkStyle">
					Artist
				</th>
				<th class="text-right" [class.dark]="darkStyle" [class.light]="!darkStyle">
					Album
				</th>
				<th class="small-th" [class.dark]="darkStyle" [class.light]="!darkStyle">&nbsp;</th>
				<th class="small-th" *ngIf="removeFromPlaylist" [class.dark]="darkStyle" [class.light]="!darkStyle">&nbsp;</th>
			</tr>
		</thead>
		<tr [ngClass]="{rowPlaying : nowPlayingSong?.id === song?.id}" *ngFor="#song of songs; #i = index" class="song-list-item">
			<td (click)="playSongFromList(i)" class="text-left" [class.dark]="darkStyle" [class.light]="!darkStyle">{{rowNum(i)}}</td>
			<td (click)="playSongFromList(i)" class="text-left row-song" [class.dark]="darkStyle" [class.light]="!darkStyle">
				{{song.title}}
			</td>
			<td (click)="playSongFromList(i)" class="text-right" [class.dark]="darkStyle" [class.light]="!darkStyle">
				{{formatDuration(song.duration)}}
			</td>
			<td (click)="playSongFromList(i)" class="text-right" [class.dark]="darkStyle" [class.light]="!darkStyle">
				{{song.track}}
			</td>
			<td (click)="playSongFromList(i)" class="text-center" [class.dark]="darkStyle" [class.light]="!darkStyle">
				{{song.artist.replace(' ','&nbsp;')}}
			</td>
			<td (click)="playSongFromList(i)" class="text-right" [class.dark]="darkStyle" [class.light]="!darkStyle">
				{{song.album}}
			</td>
			<td class="small-th">
				<subular-item-menu [song]="song"></subular-item-menu>
			</td>
			<td class="small-th" class="text-right" [class.dark]="darkStyle" [class.light]="!darkStyle" >
				<i *ngIf="removeFromPlaylist" (click)="removeSong(playlistId,song.id)" class="fa fa-close"></i>
			</td>
		</tr>
	</table>
</div>