/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/

// LiteColors
$backgroundColor: #fff;
$lightPurple: #ca9fdb;
$darkPurple: #4b0082;
$primaryColor: #36454f;
$lightGrey: #646262;
$accentsDark: #a4a4a4;
$accentsLight: #f9f9f9;
$skeleton: #f8f8f8;
$trackNumber: #8f8e8e;
$borders: #e4e3e3;

// // Dark
// $backgroundColor: #171d22;
// $lightPurple: #ca9fdb;
// $darkPurple: #4b0082;
// $primaryColor: #fff;
// $lightGrey: #646262;
// $accentsDark: #a4a4a4;
// $accentsLight: #36454f;
// $skeleton: #f8f8f8;
// $trackNumber: #8f8e8e;
// $borders: #36454f;

$miniPlayerBg: #dbd3de;
$heart: #eb2e9c;

.login {
  color: $lightPurple;
  font-size: 50;
  text-align: center;
  width: 100%;
  margin-bottom: 10%;
}

.login-wrap TextField {
  text-align: center;
  margin: 5 0 5 0;
  font-size: 16;
  color: $primaryColor;
}

/* Player */
ActionBar {
  background-color: $backgroundColor;
}
.hide-button {
  font-size: 35;
  color: $lightPurple;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.player-wrap-background {
  background-color: $backgroundColor;
  .player-wrap {
    border-bottom-left-radius: 20;
    border-bottom-right-radius: 20;
    background-color: $backgroundColor;
  }
  .back-button {
    width: 80%;
    align-content: center;
  }
  .loading-album {
    text-align: center;
    font-size: 105;
    color: $lightPurple;
    opacity: 0.8;
  }
  .album-art image {
    border-radius: 4;
    /* margin-top: 20;
	margin-bottom: 30; */
  }
  progress {
    background-color: $accentsLight;
    color: $lightPurple;
    width: 67%;
    margin-top: 15px;
  }

  .heart-wrap {
    text-align: right;
    padding-top: 15;
    padding-right: 25;
  }
  .song-title,
  .song-artist,
  .song-album {
    text-align: center;
    color: $primaryColor;
  }

  .song-title {
    font-size: 25;
    font-weight: bold;
  }
  .song-artist,
  .song-album {
    font-size: 18;
  }
  .song-artist {
    font-weight: bold;
  }
  .song-album {
    font-style: italic;
    color: $lightGrey;
  }

  .player-controls label {
    text-align: center;
    height: 66;
    color: $primaryColor;
  }
  .mini-player-button {
    width: 66;
    border-radius: 33;
    font-size: 36;
    color: $primaryColor;
  }
  .disabled {
    color: $lightGrey;
  }
  .next-previous {
    color: $primaryColor;
    font-size: 25;
    width: 66;
    border-radius: 33;
  }

  .random-repeat {
    color: $lightGrey;
  }
  .random-repeat-enabled {
    color: $lightPurple;
  }
  .time {
    text-align: center;
    font-size: 11px;
    vertical-align: top;
    color: $primaryColor;
  }
  .queue-button {
    color: $accentsDark;
    text-align: left;
    margin-left: 25;
    font-size: 25px;
  }
  /* .song-list-wrap,
.list-group {
  height: 100%;
}
.song-list-item {
  padding: 15;
}
.song {
  margin: 3% 2.5%;
  font-size: 18px;
} */
}

// Main App
.app-wrap {
  background-color: $backgroundColor;

  .subular {
    font-size: 35;
  }
  .sidedrawer-wrap {
    padding-top: 50;
    background-color: $darkPurple;
  }

  & .sidedrawer-wrap label {
    color: $backgroundColor;
  }

  & .navigation {
    border-top-width: 1;
    border-top-color: $accentsLight;
  }
  & .navigation-option {
    text-align: center;
    font-size: 18;
    font-weight: bold;
    height: 100%;
    color: $primaryColor;
  }

  & .mini-player {
    background-color: $miniPlayerBg;
    height: 70;
  }
  & .mini-player-button {
    color: $primaryColor;
    font-weight: bold;
    font-size: 28;
    text-align: center;
  }

  & .loading-text {
    font-size: 28;
    text-align: center;
    margin-top: 5%;
    color: $primaryColor;
  }
  & .loading-image {
    margin-top: 25%;
  }
  & .song-title {
    vertical-align: bottom;
    color: $primaryColor;
  }
  & .song-artist {
    vertical-align: top;
    font-size: 13;
    font-style: italic;
    color: $primaryColor;
  }
}

// Album
.album-wrap {
  .album {
    height: 100%;
  }
  .album-name {
    text-align: center;
    font-weight: bold;
    font-size: 18;
  }
  .song-list-wrap,
  .list-group {
  }
  .song-list-item {
  }
  .song {
    margin-top: 15;
    margin-bottom: 15;
    color: $primaryColor;
    height: 100%;
    font-size: 18px;
  }
  .letter-wrap {
    margin-top: 110;
    font-size: 13px;
  }

  .letter-wrap label {
    height: 14;
    font-weight: bold;
    color: $darkPurple;
    text-transform: uppercase;
    text-align: center;
  }
  .fa-download {
    text-align: center;
    color: $lightPurple;
  }

  .track-number {
    color: $trackNumber;
    text-align: center;
    margin-top: 15;
    margin-bottom: 15;
  }

  .placeholder .song,
  .placeholder .track-number {
    background-color: $skeleton;
    color: $skeleton;
    border-radius: 2;
    /* padding: 0;
  margin: 9; */
  }
  .placeholder .track-number {
    margin-right: 10;
  }
  .placeholder .song {
    /* width: 25; */
    margin-right: 0;
  }
}

.albums-wrap {
  .artist-name {
    text-align: center;
    font-weight: bold;
    font-size: 18;
  }
  .album-card {
    /* border-width: 1;
    border-color: $borders;
    border-bottom-left-radius: 4;
    border-bottom-right-radius: 4; */
  }
  .album-image {
    background-color: $borders;
  }
  .album-name {
    /* font-size: 13; */
    color: $primaryColor;
    margin-top: 6;
    margin-bottom: 6;
    /* margin-left: 2; */
  }
  .artist-info {
    padding-right: 15;
    padding-left: 15;
    padding-bottom: 5;
  }

  .artist-image {
    border-radius: 38;
  }
  .header-list-item {
    margin-bottom: 10;
  }
  .button-wrap button,
  .button-wrap label {
    width: 49%;
    padding-top: 15;
    padding-right: 15;
    padding-left: 15;
    padding-bottom: 5;
    color: $accentsDark;
    font-size: 14;
    text-align: center;
  }
  .button-wrap button:highlighted {
    background-color: $lightPurple;
    color: $backgroundColor;
    font-weight: bold;
    border-radius: 7;
  }
  .song-list-title {
    color: $primaryColor;
    font-size: 18;
    font-weight: bold;
    margin-top: 20;
  }
  .song-list-sub {
    font-size: 12;
    color: $accentsDark;
  }
  .song-list-info-wrap {
    padding-top: 12.5;
  }
}

// playlist

.playlist-wrap {
  border-color: $backgroundColor;
  border-width: 1;

  .playlist {
    height: 100%;
  }
  .playlist-name {
    text-align: center;
    font-weight: bold;
    font-size: 18;
  }
  .song-list-wrap,
  .list-group {
    height: 100%;
  }
  .song-list-item {
    background-color: $backgroundColor;
  }
  .song {
    padding-top: 15;
    height: 100%;
    font-size: 18px;
    color: $primaryColor;
  }
  .letter-wrap {
    margin-top: 130;
    font-size: 13px;
  }

  .letter-wrap label {
    height: 14;
    font-weight: bold;
    color: $darkPurple;
    text-transform: uppercase;
    text-align: center;
  }
  .fa-download {
    text-align: center;
    color: $lightPurple;
  }
  .button-wrap button,
  .button-wrap label {
    width: 49%;
    padding: 15;
    color: $accentsDark;
    font-size: 14;
    text-align: center;
  }
  .button-wrap button:highlighted {
    background-color: $lightPurple;
    color: $backgroundColor;
    font-weight: bold;
    border-radius: 7;
  }
  .track-number {
    padding-top: 15;
    color: $trackNumber;
    text-align: center;
  }
  .artist {
    font-size: 13;
    font-style: italic;
    color: $lightGrey;
  }

  .remove {
    background-color: red;
    color: $backgroundColor;
    width: 100%;
    height: 52;
    text-align: right;
    padding-right: 22;
    margin-left: 18%;
  }

  .placeholder .song,
  .placeholder .track-number {
    background-color: $skeleton;
    color: $skeleton;
    border-radius: 2;
    padding: 0;
    margin: 9;
  }

  .placeholder .song {
    /* width: 25; */
    margin-right: 0;
  }
}

// playlists
.playlists-wrap {
  border-color: $backgroundColor;
  border-width: 1;

  .playlist-list-item {
    padding-top: 15;
    padding-bottom: 15;
    border-bottom-width: 1;
    border-bottom-color: $borders;

    .playlist {
      font-size: 20px;
      padding-left: 10;
      color: $primaryColor;
    }
  }

  .letter-wrap {
    margin-top: 130;
    font-size: 13px;
  }

  .letter-wrap label {
    height: 14;
    font-weight: bold;
    color: $lightPurple;
    text-transform: uppercase;
    text-align: center;
  }
  .list-group {
    height: 100%;
  }
  image {
    /* border-width: 1;
    border-color: $borders; */
  }
  .fa-heart {
    color: $heart;
    text-align: center;
    font-size: 35;
    border-radius: 2;
    border-width: 1;
    border-color: $borders;
  }
  ActivityIndicator {
    margin-top: 45%;
  }
  .first-item {
    padding-top: 50;
  }
  .title {
    background-color: $backgroundColor;
    width: 100%;
  }

  .playlist-image {
    background-color: $skeleton;
  }
  .placeholder-name {
    background-color: $skeleton;
    color: $skeleton;
    border-radius: 2;
    padding: 0;
    height: 25;
    margin: 9;
  }
}

.recently-added-wrap {
  background-color: $backgroundColor;
  border-color: $backgroundColor;
  border-width: 1;

  ActivityIndicator {
    margin-top: 45%;
  }
  .first-item {
    padding-top: 50;
  }
  .title {
    background-color: $backgroundColor;
    width: 100%;
  }
  ListView {
    separator-color: transparent;
  }
}
.artist-list {
  background-color: $backgroundColor;
  .artist-list-item {
    padding-top: 15;
    padding-bottom: 15;
    border-bottom-width: 1;
    border-bottom-color: $borders;
  }
  .title {
    background-color: $backgroundColor;
    width: 100%;
  }

  .first-item {
    padding-top: 55;
  }
  .artist {
    margin: 0;
    padding: 3% 0 3% 0;
    font-size: 20px;
    margin-left: 10;
    color: $primaryColor;
  }

  .letter-wrap {
    margin-top: 120;
    font-size: 13px;
  }

  .letter-wrap label {
    height: 16;
    font-weight: bold;
    color: $lightPurple;
    text-transform: uppercase;
    text-align: center;
  }
}

image {
  border-radius: 2;
}
button {
  color: $lightPurple;
}

.fa {
  font-family: 'FontAwesome', fontawesome-webfont;
}

.pacifico {
  font-family: 'Pacifico', Pacifico;
}

.border-outline {
  border-width: 0;
}
.overflow-fix {
  border-color: red;
  border-width: 1;
}
.debug {
  border-color: red;
  border-width: 1;
}
.page-padding {
  padding-left: 18%;
  padding-right: 18%;
}
.page-padding-left {
  padding-left: 18%;
}

.offset-for-slide {
  transform: translateX(300);
}
.title {
  color: $primaryColor;
  font-size: 28;
  font-weight: bold;
  padding-top: 10;
  padding-bottom: 8;
  /* font-family: 'Pacifico', Pacifico;
  text-transform: lowercase; */
}

.list-group {
  background-color: $backgroundColor;
}

.fa-heart {
  color: $heart;
}
.fa-unheart {
  color: $accentsDark;
}

.back-link-wrap {
  & .fa {
    font-size: 28;
    color: $lightPurple;
    text-align: center;
  }
  & .back-link {
    font-size: 25;
    font-weight: bold;
    color: $lightPurple;
  }
}

// Recently Added Album
.album-card {
  .album-name {
    /* font-size: 13; */
    color: $primaryColor;

    /* margin-left: 2; */
  }
  .album-image {
    background-color: $skeleton;
  }

  .placeholder-name {
    background-color: $skeleton;
    color: $skeleton;
    border-radius: 2;
    margin-top: 6;
    margin-bottom: 6;
    margin-right: 15%;
    height: 20;
  }
}

//SongList HEader

.header-list-item {
  margin-bottom: 10;
}
.button-wrap button,
.button-wrap label {
  width: 49%;
  padding-top: 15;
  padding-right: 15;
  padding-left: 15;
  padding-bottom: 5;
  color: $accentsDark;
  font-size: 14;
  text-align: center;
}
/* .button-wrap Button:highlighted {
  background-color: #ca9fdb;
  color: #ffffff;
  font-weight: bold;
  border-radius: 7;
} */
.song-list-title {
  color: $primaryColor;
  font-size: 18;
  font-weight: bold;
}
.song-list-sub {
  font-size: 12;
  color: $accentsDark;
}
.song-list-info-wrap {
  padding-top: 12.5;
}
