<StackLayout [animate]="animateOptions" class="offset-for-slide">
	<StackLayout class="page-padding artist-info">
		<Label text="Recently Added" class="title" textWrap="true"></Label>
	</StackLayout>
	<ScrollView class="" height="100%">
		<WrapLayout orientation="horizontal">
			<StackLayout [width]="imageHeightWidth" [marginLeft]="imageSideMargins" [marginBottom]="imageSideMargins" *ngFor="let item of albums$ | async"
			 class="album-card" orientation="vertical" [nsRouterLink]="['../album', item.id , { returnLink: '/app/recent' }]">
				<Image [width]="imageHeightWidth" [height]="imageHeightWidth" stretch="fill" class="album-image" [src]="getCoverArt(item) | async"></Image>
				<!-- <FrescoDrawee class="artist-image" *tkIfAndroid horizontalAlignment="stretch"  [imageUri]="item.image" verticalAlignment="top"></FrescoDrawee> -->
				<Label class="album-name" [text]="item.name"></Label>
			</StackLayout>
		</WrapLayout>
	</ScrollView>
</StackLayout>