# see http://help.github.com/ignore-files/ for more about ignoring files.
### WEB
# compiled output
/subular-web/dist
/tmp
/subular-web/out-tsc

# dependencies
/subular-web/node_modules

# IDEs and editors
/subular-web/.idea
/subular-web/.project
/subular-web/.classpath
/subular-web/.c9/
/subular-web/*.launch
/subular-web/.settings/
/subular-web/*.sublime-workspace

# IDE - VsCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/subular-web/e2e/*.js
/subular-web/e2e/*.map

# system Files
.Ds_store
Thumbs.db

### MOBILE
/subular-mobile/**/*.js
!/subular-mobile/webpack.config.js
/subular-mobile/**/*.js.map
/subular-mobile/**/*.log
/subular-mobile/**/*.nsbuildinfo
/subular-mobile/platforms
/subular-mobile/node_modules
/subular-mobile/report

subular-shared-dist/*
!subular-shared-dist/package.json
node_modules

tempcrap