<StackLayout [animate]="animateOptions" class="offset-for-slide albums-wrap">
  <back-link text="Artists" [link]="['/app/artists']"></back-link>
  <ScrollView [slideBack]="['/app/artists']" class="" height="100%">
    <WrapLayout orientation="horizontal" class="">
      <GridLayout
        rows="100"
        columns="100,*"
        class="header-list-item page-padding"
      >
        <image
          class="artist-image"
          height="75"
          width="75"
          borderRadius="38"
          row="0"
          col="0"
          [src]="getArtistImage(albums[0].artistId) | async"
        ></image>
        <StackLayout row="0" col="1" class="song-list-info-wrap">
          <label
            text="{{ albums[0].artist }}"
            class="song-list-title "
            textWrap="true"
          ></label>
          <label
            [text]="getAlbumsText(albums)"
            class="song-list-sub "
            textWrap="true"
          ></label>
          <!--
            <heart row="0" col="2" [artist]="albums[0].artist" (songUpdated)="songHeartChange($event)"></heart>
          -->
        </StackLayout>
      </GridLayout>
      <StackLayout
        [width]="imageHeightWidth"
        [marginLeft]="imageSideMargins"
        [marginBottom]="imageSideMargins"
        *ngFor="let item of albums"
        class="album-card"
        orientation="vertical"
        [nsRouterLink]="['../../album', item.id]"
      >
        <image
          [width]="imageHeightWidth"
          [height]="imageHeightWidth"
          stretch="fill"
          class="album-image"
          [src]="getCoverArt(item) | async"
        ></image>
        <!--
          <FrescoDrawee class="artist-image" *tkIfAndroid horizontalAlignment="stretch"  [imageUri]="item.image" verticalAlignment="top"></FrescoDrawee>
        -->
        <label class="album-name" [text]="item.name"></label>
      </StackLayout>
    </WrapLayout>
  </ScrollView>
</StackLayout>
