.subular-header {
  border-bottom: 1px #101010;
  box-shadow: 5px -1px 5px #888888;
}
.subular-header subular-brand {
  font-size: 1.2em;
  margin-left: 1.8em;
  margin-right: 160px;
}
.subular-header nav {
  widows: 50%;
  display: inline-block;
}
.loading {
  height: 100%;
  background-color: lightgrey;
}

.top-links {
  width: 150px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding-top: 5px;
}

.subular-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 0;
  grid-template-areas:
    'h h h h h h h h h h h h h'
    'm m c c c c c c c c c c c'
    'f f f f f f f f f f f f f';
}

.subular-header {
  grid-area: h;
}

.subular-sidebar {
  height: calc(100vh - 119px);
  grid-area: m;
}

.subular-content {
  height: calc(100vh - 119px);
  grid-area: c;
  overflow-y: scroll;
}

.subular-player {
  grid-area: f;
  height: 83px;
}
