<h2>Setting</h2>

<div class="row">
	<div class="col-sm-6">
		<fieldset class="form-group">
			<label for="inputServer">Server address</label>
			<input type="text" class="form-control" [(ngModel)]="server" id="inputServer" placeholder="Enter Server">
			<small class="text-muted"></small>

			<label for="inputUsername">Username</label>
			<input type="text" class="form-control" [(ngModel)]="username" id="inputUsername" placeholder="Enter Username">
			<small class="text-muted"></small>

			<label for="inputPassword">Password</label>
			<input type="password" class="form-control" [(ngModel)]="password" id="inputPassword" placeholder="Enter Password">
			<small class="text-muted"></small>
			<hr>
			<button class="btn button" (click)="refreshData()">Refresh Server Info</button>
		</fieldset>
	</div>
</div>