<StackLayout *ngIf="album$ | async as album" [animate]="animateOptions" height="100%" class="offset-for-slide album-wrap">
	<ng-container *ngIf="returnLink$ | async as returnlink">
		<back-link [text]="returnlink.text" [link]="returnlink.link"></back-link>
		<ListView [slideBack]="returnlink.link" [itemTemplateSelector]="templateSelector" height="100%" [items]="songs$ | async"
		 class="list-group">
			<ng-template nsTemplateKey="header">
				<song-list-header [coverArt]="album.coverArt" [allSongsDownloaded]="allSongsDownloaded" [name]="album.name" [genre]="album.genre"
				 [year]="album.year " [shuffleFunction]="playAndShuffle" [downloadFunction]="downloadAllSongs"></song-list-header>
			</ng-template>
			<ng-template nsTemplateKey="placeholder" let-item="item" let-odd="odd" let-even="even">
				<GridLayout rows="*" columns="30,*" class="song-list-item page-padding placeholder">
					<Label row="0" , col="0" text="1" class="track-number"></Label>
					<Label row="0" , col="1" text="title" class="song"></Label>
				</GridLayout>
			</ng-template>
			<ng-template nsTemplateKey="regular" let-item="item" let-odd="odd" let-even="even">
				<GridLayout rows="*" columns="30,*,60" class="song-list-item page-padding">
					<Label row="0" , col="0" [text]="item.track" (longPress)="longpress(item)" (tap)="selectSong(item)" class="track-number"></Label>
					<Label row="0" , col="1" [text]="item.title" (longPress)="longpress(item)" (tap)="selectSong(item)" class="song"></Label>
					<ng-container [ngSwitch]="item?.state">
						<Label *ngSwitchCase="SongState.downloading" row="0" col="2" class="fa fa-download" text="&#xf1ce;"></Label>
						<!-- <ActivityIndicator *ngSwitchCase="SongState.downloading" row="0" col="2" rowSpan="2" class="fa fa-download" busy="true"></ActivityIndicator> -->
						<Label *ngSwitchCase="SongState.downloaded" row="0" col="2" class="fa fa-download"></Label>
						<Label *ngSwitchDefault row="0" , col="2" (tap)="download(item)" text="&#xf0ed;" class="fa fa-download" textWrap="true"></Label>
					</ng-container>
				</GridLayout>
			</ng-template>
		</ListView>
	</ng-container>

</StackLayout>