<StackLayout *ngIf="(album$ | async) as album" height="100%" class="album-wrap">
    <ListView [slideBack]="returnLink" [itemTemplateSelector]="templateSelector" height="100%" [items]="songs$ | async" (itemLoading)="onItemLoading($event)" class="list-group">
      <ng-template nsTemplateKey="header">
        <song-list-header [coverArt]="album.coverArt" [allSongsDownloaded]="allSongsDownloaded" [name]="album.name" [genre]="album.genre" [year]="album.year" [shuffleFunction]="playAndShuffle" [downloadFunction]="downloadAllSongs"></song-list-header>
      </ng-template>
      <ng-template nsTemplateKey="placeholder" let-item="item" let-odd="odd" let-even="even">
        <GridLayout rows="*" columns="30,*" class="song-list-item page-padding placeholder">
          <label row="0" , col="0" text="1" class="track-number"></label>
          <label row="0" , col="1" text="title" class="song"></label>
        </GridLayout>
      </ng-template>
      <ng-template nsTemplateKey="regular" let-item="item" let-odd="odd" let-even="even">
        <GridLayout rows="*" columns="30,*,60" class="song-list-item page-padding" (tap)="selectSong(item)" (longPress)="longpress(item)">
          <label row="0" , col="0" [text]="item.track" class="track-number"></label>
          <label row="0" , col="1" [text]="item.title" class="song"></label>
          <ng-container [ngSwitch]="item?.state">
            <label *ngSwitchCase="SongState.downloading" row="0" col="2" class="fa fa-download" text="&#xf1ce;"></label>
            <!--
              <ActivityIndicator *ngSwitchCase="SongState.downloading" row="0" col="2" rowSpan="2" class="fa fa-download" busy="true"></ActivityIndicator>
            -->
            <label *ngSwitchCase="SongState.downloaded" row="0" col="2" class="fa fa-download"></label>
            <label *ngSwitchDefault row="0" , col="2" (tap)="download(item)" text="&#xf0ed;" class="fa fa-download" textWrap="true"></label>
          </ng-container>
        </GridLayout>
      </ng-template>
    </ListView>
</StackLayout>