<ActionBar #actionBar>
  <StackLayout class="back-button" (touch)="back()">
    <label class="fa hide-button " text="&#xf0d7;"></label>
  </StackLayout>
</ActionBar>
<!-- <ScrollView #scrollView> -->
<StackLayout [slideDownBack] class="player-wrap-background">
  <GridLayout
    *ngIf="playerVisible"
    class="player-wrap"
    rows="70,auto,25,10,28,22,22,*,66,*"
    columns="*"
    [height]="playerHeight"
  >
    <GridLayout row="0" col="0" rows="*" columns="80,*,80" class="heart-wrap">
      <label *ngIf="false"
        row="0"
        col="0"
        class="fa queue-button"
        text="&#xf0ca;"
        textWrap="true"
      >
        ></label
      >

      <heart
        row="0"
        col="2"
        [song]="nowPlaying?.song"
        (songUpdated)="songHeartChange($event)"
      ></heart>
    </GridLayout>
    <AbsoluteLayout
      row="1"
      col="0"
      class=""
      [marginBottom]="imageTopBottomMargin"
      [width]="imageHeightWidth"
      [height]="imageHeightWidth"
      class="album-art"
    >
      <image
        top="0"
        [width]="imageHeightWidth"
        [height]="imageHeightWidth"
        left="0"
        class="player-album-art"
        stretch="aspectFit"
        [src]="getArtWork(nowPlaying?.song) | async"
      ></image>
      <label
        top="0"
        [animate]="animateOptions"
        [width]="imageHeightWidth"
        [height]="imageHeightWidth"
        left="0"
        class="fa loading-album"
        text="&#xf1ce;"
        *ngIf="nowPlaying?.playing === PlayingStatus.loading"
      ></label>
      <!--
        <ActivityIndicator ios.activityIndicatorViewStyle="0" top="0" [width]="imageHeightWidth" [height]="imageHeightWidth" left="0" class="fa loading-album" *ngIf="nowPlaying?.playing === PlayingStatus.loading"
        busy="true"></ActivityIndicator>
      -->
    </AbsoluteLayout>
    <GridLayout class="" row="2" col="0" rows="*" columns="80,*,80">
      <label
        class="time"
        row="0"
        col="0"
        [text]="timeEclipsed"
        textWrap="true"
      ></label>
      <progress
        class=""
        row="0"
        col="1"
        [width]="imageHeightWidth"
        [value]="nowPlaying?.position"
        (loaded)="onProgressLoaded($event)"
      ></progress>
      <label
        class="time"
        row="0"
        col="2"
        [text]="nowPlaying?.song?.time"
        textWrap="true"
      ></label>
    </GridLayout>
    <label
      class="song-title page-padding"
      row="4"
      col="0"
      width="100%"
      [text]="nowPlaying?.song?.title"
    ></label>
    <label
      class="song-artist page-padding"
      row="5"
      col="0"
      width="100%"
      [text]="nowPlaying?.song?.artist"
    ></label>
    <label
      class="song-album page-padding"
      row="6"
      col="0"
      width="100%"
      [text]="nowPlaying?.song?.album"
    ></label>
    <GridLayout
      class="player-controls"
      row="8"
      col="0"
      rows="*"
      columns="60,*,80,*,60"
    >
      <label
        row="0"
        col="0"
        class="fa random-repeat"
        [class.random-repeat-enabled]="nowPlaying?.repeat"
        (tap)="toggleRepeat()"
        text="&#xf01e;"
      ></label>
      <label
        row="0"
        col="1"
        [highlight]="highlightBgColor"
        class="fa next-previous"
        (tap)="playPreviousSong()"
        text="&#xf048;"
      ></label>
      <ng-container [ngSwitch]="nowPlaying?.playing">
        <label
          row="0"
          col="2"
          class="fa mini-player-button disabled"
          text="&#xf04c;"
          *ngSwitchCase="PlayingStatus.loading"
          textWrap="true"
        ></label>
        <label
          row="0"
          col="2"
          [highlight]="highlightBgColor"
          class="fa mini-player-button"
          text="&#xf04b;"
          (tap)="resumeSong()"
          *ngSwitchCase="PlayingStatus.paused"
          textWrap="true"
        ></label>
        <label
          row="0"
          col="2"
          [highlight]="highlightBgColor"
          class="fa mini-player-button"
          text="&#xf04c;"
          (tap)="pauseSong()"
          *ngSwitchCase="PlayingStatus.playing"
          textWrap="true"
        ></label>
      </ng-container>
      <label
        row="0"
        col="3"
        [highlight]="highlightBgColor"
        class="fa next-previous"
        (tap)="playNextSong()"
        text="&#xf051;"
      ></label>
      <label
        row="0"
        col="4"
        class="fa random-repeat"
        [class.random-repeat-enabled]="nowPlaying?.random"
        (tap)="toggleShuffle()"
        text="&#xf074;"
      ></label>
    </GridLayout>
  </GridLayout>
  <!-- <StackLayout *ngIf="queueVisible" [height]="playerHeight - 120">
    <ListView #songList [items]="songs$ | async" class="list-group">
      <ng-template
        let-item="item"
        let-odd="odd"
        let-even="even"
        let-index="index"
      >
        <queue-item
          [item]="item"
          [index]="index"
          [nowPlaying]="nowPlaying"
        ></queue-item>
      </ng-template>
    </ListView>
  </StackLayout> -->
</StackLayout>
<!-- </ScrollView> -->
