.title,
.album,
.artist,
.cover-img {
  cursor: hand;
}
.title {
  width: 100%;
  display: inline-block;
  font-size: 1.7em;
  margin-top: 5px;
}
.album {
  font-size: 1em;
  margin-left: 10px;
}
.artist {
  font-weight: 700;
}
.cover-img {
  height: 63px;
}
