<div class="subular-wrap-flex">
	<div class="subular-header">
		<subular-brand></subular-brand>
		<button [routerLink]="['/app',{ outlets:{ lists: ['artists'], content: null }}]">Artists</button>
		<button [routerLink]="['/app',{ outlets:{ lists: ['playlists'], content: null }}]">Playists</button>
	</div>
	<div class="flex-container" *ngIf="loaded$ | async">
		<section class="sidebar">
			<router-outlet name="lists"></router-outlet>
		</section>
		<section *ngIf="loaded$ | async " class="subular-app">
			<router-outlet name="content"></router-outlet>
		</section>
	</div>
	<player></player>
</div>

<ng-template #loading>
	<section class="loading">
		<h1>Loading Albums</h1>
	</section>
</ng-template>