<div class="subular-wrap-flex">
	<div class="subular-header">
		<subular-brand></subular-brand>
	</div>
	<div class="flex-container" *ngIf="artists$ | async as artists else loading">
		<section class="sidebar">
			<artist-list [artists]="artists"  [selectedArtistId]="(artistId$ | async)"></artist-list>
		</section>
		<section *ngIf="loaded " class="subular-app">
			<router-outlet></router-outlet>
		</section>
	</div>
	<player></player>
</div>

<ng-template #loading>
	<section class="loading">
		<h1>Loading Albums</h1>
	</section>
</ng-template>