.flex-container{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: calc(100vh - 90px);
}

.subular-app{
	order: 1;
	flex: 6;
	background-color: lightgrey;
  	padding: .5rem;
}
.sidebar{
	order: 1;
	width: 250px;
	background-color: purple;
	flex-basis: auto;
	min-height: 1px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.player{
	height: 90px;
	width: 100%;
}