@font-face {
  font-family: 'Pacifico';
  src: url('/assets/fonts/Pacifico.ttf');
}

.subular-brand {
  display: inline-block;
  font-family: 'Pacifico';
  background: -webkit-linear-gradient(#4b0082, #eed2ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
