<StackLayout [animate]="SLIDE_RIGHT_ANIMATION" class="offset-for-slide recently-added-wrap">
	<ng-container *ngIf="albums$ | async as album else loading">
		<AbsoluteLayout class="" height="100%">
			<GridLayout rows="*" top="0" left="0" width="100%" height="100%" columns="*">
				<ListView #recentlyAdded [items]="albums" class="list-group">
					<ng-template let-item="item" let-i="index" let-album1="item[0]" let-album2="item[1]" let-odd="odd" let-even="even">
						<StackLayout orientation="horizontal" [class.first-item]="i == 0">
							<recently-added-album [album]="album1" [width]="imageHeightWidth" [margin]="imageSideMargins"></recently-added-album>
							<recently-added-album [album]="album2" [width]="imageHeightWidth" [margin]="imageSideMargins"></recently-added-album>
						</StackLayout>
					</ng-template>
				</ListView>
			</GridLayout>
			<Label text="Recently Added" class="title page-padding-left" textWrap="true"></Label>
		</AbsoluteLayout>
	</ng-container>
	<ng-template #loading>
		<ActivityIndicator busy="true"></ActivityIndicator>
	</ng-template>
</StackLayout>