.playlist {
  height: 100%;
}
.playlist-name {
  text-align: center;
  font-weight: bold;
  font-size: 18;
}
.song-list-wrap,
.list-group {
  height: 100%;
}
.song-list-item {
}
.song {
  padding-top: 15;
  height: 100%;
  font-size: 18px;
  color: #36454f;
}
.letter-wrap {
  margin-top: 130;
  font-size: 13px;
}

.letter-wrap Label {
  height: 14;
  font-weight: bold;
  color: #4b0082;
  text-transform: uppercase;
  text-align: center;
}
.fa-download {
  text-align: center;
  color: #ca9fdb;
}
.button-wrap Button,
.button-wrap Label {
  width: 49%;
  padding: 15;
  color: #c4c2c2;
  font-size: 14;
  text-align: center;
}
.button-wrap Button:highlighted {
  background-color: #ca9fdb;
  color: #ffffff;
  font-weight: bold;
  border-radius: 7;
}
.track-number {
  padding-top: 15;
  color: #8f8e8e;
  text-align: center;
}
.artist {
  font-size: 13;
  font-style: italic;
  color: #646262;
}

.remove {
  background-color: red;
  color: #fff;
  width: 100%;
  height: 52;
  text-align: right;
  padding-right: 22;
  margin-left: 18%;
}

.placeholder .song,
.placeholder .track-number {
  background-color: #f8f8f8;
  color: #f8f8f8;
  border-radius: 2;
  padding: 0;
  margin: 9;
}

.placeholder .song {
  /* width: 25; */
  margin-right: 0;
}
