.playlist-list {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	margin:0;
	list-style: none;
	background-color: #fff;
	padding:0;
}

.playlist-list li{

}
.playlist-list li a{
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #222222;
	display: inline-block;
	padding: 0.2em 0.6em;

}

.playlist-list li a:hover{
	background-color: #222222;
	color: #fff;
}

.playlist-list li.selected a{
	background-color: #222222;
	color: #fff;
}

button{
	background: none;
	border: none;
	width: 100%;
	text-align: left;
	font-size: 1.3em;
	margin: 10px auto;
}