<subular-brand></subular-brand>
<form [formGroup]="loginForm" (ngSubmit)="submitLogin($event)">
	<div class="ui-g ui-fluid">
		<div class="ui-g-4">
			<div class="ui-g-12 ui-md-12">
				<div class="ui-inputgroup">
					<span class="ui-inputgroup-addon"><i class="fa fa-server"></i></span>
					<input formControlName="server" type="text" pInputText placeholder="http://yourServer.subsonic.org" />
				</div>
			</div>
			<div class="ui-g-12 ui-md-12">
				<div class="ui-inputgroup">
					<span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
					<input formControlName="username" type="text" pInputText placeholder="Username" />
				</div>
			</div>
			<div class="ui-g-12 ui-md-12">
				<div class="ui-inputgroup">
					<span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
					<input formControlName="password" type="password" pPassword placeholder="Password" />
				</div>
			</div>
			<div class="ui-g-12 ui-md-12">
				<div class="ui-inputgroup">
					<button pButton type="submit" label="Log In"></button>
				</div>
			</div>
		</div>
	</div>
</form>