<StackLayout class="page-padding-left">
	<AbsoluteLayout>
		<GridLayout rows="*" top="0" left="0" width="100%" columns="*,18">
			<ListView #artistList [items]="artists$ | async" class="list-group">
				<ng-template let-item="item" let-odd="odd" let-even="even" let-i="index">
					<GridLayout [class.first-item]="i == 0" rows="*" columns="*" [nsRouterLink]="['../albums', item.id ]" (tap)="cacheIndex(i)"
					 class="artist-list-item">
						<Label row="0" , col="0" [text]="item.name" class="artist"></Label>
					</GridLayout>
				</ng-template>
			</ListView>
			<StackLayout (touch)="slide($event)" row="0" col="1" class="letter-wrap">
				<Label [text]="char" *ngFor="let char of alphabet" textWrap="true"></Label>
			</StackLayout>
		</GridLayout>
		<Label top="0" left="0" [collapse]="artistList" #label text="Artists" class="title"></Label>
	</AbsoluteLayout>

</StackLayout>