.artist-list-item{
	padding: 15;
}
.artist {
	margin: 0 2.5%;
	padding: 3% 0;
	font-size: 18px;
}

.letter-wrap{
	margin-top: 130;
	font-size: 13px;
}

.letter-wrap Label{
	height: 14;
	font-weight: bold;
	color: #ca9fdb;
	text-transform: uppercase;
	text-align: center
}