.artist {
	margin: 3% 2.5%;
	font-size: 23px;

}

.letter-wrap{
	margin-top: 75;
	font-size: 13px;
}

.letter-wrap Label{
	height: 18;
	font-weight: bold;
	color: #4B0082;
	text-transform: uppercase;
}