<StackLayout class="page-padding">
	<ng-container *ngIf="playlists$ | async as playlist else loading">
		<AbsoluteLayout class="" height="100%">
			<ListView #playlistList [items]="playlist" top="0" left="0" width="100%" height="100%" class="list-group">
				<ng-template let-item="item" let-odd="odd" let-even="even" let-i="index">
					<GridLayout [class.first-item]="i == 0" rows="*" columns="60,*" class="playlist-list-item">
						<ng-template [ngIf]="item.name != 'Favorites'">
							<Image [nsRouterLink]="['/app/playlist', item.id ]" class="playlist-image" height="60" height="60" row="0" col="0" [src]="getCoverArt(item) | async"></Image>
							<Label [nsRouterLink]="['/app/playlist', item.id ]" *ngIf="item.name" row="0" col="1" [text]="item.name" class="playlist"></Label>
							<Label *ngIf="!item.name" text="" row="0" col="1" class="placeholder-name"></Label>
						</ng-template>
						<ng-template [ngIf]="item.name == 'Favorites'">
							<Label [nsRouterLink]="['/app/favorites']" height="60" height="60" row="0" col="0" text="&#xf004;" class="fa fa-heart" textWrap="true"></Label>
							<Label [nsRouterLink]="['/app/favorites']" row="0" col="1" text="{{ item.name }} " class="playlist "></Label>
						</ng-template>
					</GridLayout>
				</ng-template>
			</ListView>
			<Label text="Playlists" class="title" textWrap="true"></Label>
		</AbsoluteLayout>

	</ng-container>
	<ng-template #loading>
		<ActivityIndicator busy="true"></ActivityIndicator>
	</ng-template>
</StackLayout>