<section class="playing-footer">
	<ng-container *ngIf="nowPlaying$ | async as nowPlaying">

		<gutter [percent]="nowPlaying.position"></gutter>
		<div class="ui-g-2 player-controls">
			<span class="play-pause-button">
				<i class="fa fa-step-backward" (click)="previousSong()"></i>
			</span>
			<span class="play-pause-button" [ngSwitch]="nowPlaying.playing">
				<i *ngSwitchCase="playingStatus.paused" class="play-pause fa fa-play-circle pull-right" (click)="playSong()"></i>
				<i *ngSwitchCase="playingStatus.playing" class="play-pause fa fa-pause-circle pull-right" (click)="pauseSong()"></i>
			</span>
			<span class="play-pause-button">
				<i class="fa fa-step-forward" (click)="nextSong()"></i>
			</span>
		</div>
		<track-info [song]="nowPlaying.song"></track-info>
		<div class="ui-g-2 secondary">
			<heart [song]="nowPlaying.song" (songUpdated)="songUpdated($event)"></heart>
			<i class="fa fa-th-list" *ngIf="songList.length>0" [ngClass]="{activeInverse : playingSongs}" (click)="playingSongs = !playingSongs"></i>
		</div>
	</ng-container>
</section>
<!-- <section class="blurred-background"  *ngIf="nowPlaying$ | async">

</section> -->
<!-- <section id="now-playing-list" *ngIf="playingSongs">
	<h3>Now Playing</h3>
</section>
<div *ngIf="playingSongs" id="now-playing-modal" class="subular-modal" (click)="playingSongs = !playingSongs"></div> -->