<ng-container *ngIf="playlist$ | async as playlist">
	<h1> {{ playlist.name }} </h1>
	<p-dataTable [value]="playlist.entry" [selection]="nowPlayingSong$ | async" dataKey="id" selectionMode="single" (onRowSelect)="selectSong($event.data)"
	 [contextMenu]="contextMenu">
		<p-column field="track" [style]="{'width':'5%','text-align':'center'}" header="Track#"></p-column>
		<p-column field="title" [style]="{'width':'50%','text-align':'left'}" header="Title"></p-column>
		<p-column field="time" [style]="{'width':'6%','text-align':'center'}" header="Time"></p-column>
		<p-column field="artist" [style]="{'text-align':'left'}" header="Artist"></p-column>
		<p-column field="genre" [style]="{'width':'10%','text-align':'left'}" header="Genre"></p-column>
	</p-dataTable>
</ng-container>
<p-contextMenu #contextMenu [model]="contextMenuItems">
</p-contextMenu>