<ng-container class="album" *ngIf="album$ | async as album">
	<h1> {{ album.artist }} - {{ album.name }}</h1>
	<img class="album-image" crossOrigin="Anonymous" [src]="getCoverArt(album?.coverArt)" />
	<album-options [album]="album"></album-options>

	<ng-container *ngIf="songs$ | async as songs">
		<p-dataTable [value]="songs" [selection]="nowPlayingSong$ | async" dataKey="id" selectionMode="single" (onRowSelect)="selectSong($event.data)" [contextMenu]="contextMenu">
			<p-column field="track" [style]="{'width':'5%'}" header="Track#"></p-column>
			<p-column field="title" [style]="{'width':'45%'}" header="Title"></p-column>
			<p-column field="artist" header="Artist"></p-column>
			<p-column field="genre" [style]="{'width':'20%'}" header="Genre"></p-column>
		</p-dataTable>
	</ng-container>
</ng-container>
<p-contextMenu #contextMenu [model]="contextMenuItems">
</p-contextMenu>
