<StackLayout class="page-padding">
	<Label text="Playlists" class="title" textWrap="true"></Label>
	<ng-container *ngIf="playlists$ | async as playlist else loading">
		<ListView #playlistList [items]="playlist" class="list-group">
			<ng-template let-item="item" let-odd="odd" let-even="even" let-i="index">
				<GridLayout rows="*" columns="60,*" class="playlist-list-item">
					<ng-template [ngIf]="item.name != 'Favorites'">
						<Image (tap)="addToPlaylist(item)" height="60" height="60" row="0" col="0" [src]="getCoverArt(item) | async"></Image>
						<Label (tap)="addToPlaylist(item)" row="0" col="1" [text]="item.name" class="playlist"></Label>
					</ng-template>
				</GridLayout>
			</ng-template>
		</ListView>
	</ng-container>
	<ng-template #loading>
		<ActivityIndicator busy="true" ></ActivityIndicator>
	</ng-template>
</StackLayout>