
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fullwidth">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
			aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand font-endless app-font">subular</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active" (click)="page=1"><a [routerLink]="['artists']">Artists</a></li>
				<li><a [routerLink]="['Playlists']">Playlists</a></li>
			</ul>
		</div>
	</div>
</nav>
<!--<ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m"></ngrx-store-log-monitor>-->
<div class="container-fullwidth nav-bar-fix">
	<div class="col-sm-4 col-md-2 subular-list-container">
		<section class="list " *ngIf="(appState | async) != appStateEnum.loading">
			<section class="scroll-content">
				<artists></artists>
			</section>
		</section>
	</div>
	<div class="col-sm-8 col-md-10 no-padding">
		<section class="main-content">
			<section class="scroll-content">
				<router-outlet></router-outlet>
			</section>
		</section>
	</div>
</div>
<player></player>