.gutter {
  background-color: #101010;
  margin: 0 !important;
  height: 4px;
  padding: 0;
}
.gutter-progress {
  background: -webkit-linear-gradient(#4b0082, #eed2ee);
  height: 4px;
  display: block;
}
