/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';


Image{
	border-radius: 2;
}
Button{
	color: #ca9fdb;
}

.fa{
	font-family: 'FontAwesome', fontawesome-webfont;
}

.border-outline{
	border-width: 0;
}

.debug{
	border-color:red;
	border-width: 1;

}
.page-padding{
	padding-left: 18%;
	padding-right: 18%;
}
.page-padding-left{
	padding-left: 18%;
}

.back-link{
	font-size: 18;
	margin: 10 10;
	height: 22;
	color: #ca9fdb;
	font-weight: bold;
}

.offset-for-slide{
	transform: translateX(300);
}
.title{
	font-size: 25;
	font-weight: bold
}