<GridLayout rows="*" columns="*">
  <GridLayout #mainLayout rows="*,auto,52" row="0" col="0" columns="*" stretchLastChild="true" class="app-wrap">
    <GridLayout row="2" col="0" rows="*" columns="*,*,*,*" height="60" class="navigation">
      <label row="0" col="0" [highlight]="highlightBgColor" [nsRouterLink]="['/app/recent']" horizontalAlign="center" verticalAlignment="center" class=" navigation-option " [text]="'Recent'"></label>
      <label row="0" col="1" [highlight]="highlightBgColor" [nsRouterLink]="['/app/artists']" (tap)="clearArtistKeyCache()" horizontalAlign="center" verticalAlignment="center" class="navigation-option " [text]="'Artists'"></label>
      <label row="0" col="2" [highlight]="highlightBgColor" [nsRouterLink]="['/app/playlists']" horizontalAlign="center" verticalAlignment="center" class="navigation-option " [text]="'Playlists'"></label>
      <label row="0" col="3" [highlight]="highlightBgColor" [nsRouterLink]="['/app/supa']" horizontalAlign="center" verticalAlignment="center" class="navigation-option " [text]="'More'"></label>
    </GridLayout>
    <GridLayout row="1" col="0" *ngIf="nowPlaying" class="mini-player" rows="*,30" columns="80,*,80">
      <StackLayout shadow="5" row="0" rowSpan="2" col="0" width="60" height="60">
        <image [nsRouterLink]="['/player']" pageTransition="slideTop" width="60" height="60" [src]="getArtWork(nowPlaying?.song) | async"></image>
      </StackLayout>
      <label [nsRouterLink]="['/player']" class="song-title" pageTransition="slideTop" row="0" col="1" [text]="nowPlaying?.song?.title"></label>
      <label class="song-artist" row="1" col="1" [text]="nowPlaying?.song?.artist"></label>
      <ng-container [ngSwitch]="nowPlaying?.playing">
        <label row="0" col="2" rowSpan="2" class="fa mini-player-button" [animate]="animateOptions" text="&#xf1ce;" *ngSwitchCase="PlayingStatus.loading" textWrap="true"></label>
        <!--
        <ActivityIndicator row="0" col="2" rowSpan="2" class="fa mini-player-button" *ngSwitchCase="PlayingStatus.loading" busy="true"></ActivityIndicator>
      -->
        <label row="0" col="2" rowSpan="2" class="fa mini-player-button" text="&#xf04b;" (tap)="play()" *ngSwitchCase="PlayingStatus.paused" textWrap="true"></label>
        <label row="0" col="2" rowSpan="2" class="fa mini-player-button" text="&#xf04c;" (tap)="pause()" *ngSwitchCase="PlayingStatus.playing" textWrap="true"></label>
      </ng-container>
    </GridLayout>

    <GridLayout row="0" col="0" class="border-outline" [@routeAnimation]="prepRouteState(routerOutlet)">
      <router-outlet #routerOutlet="outlet" class="router-outlet"></router-outlet>
      <ng-template #loading>
        <label class="loading-text" text="Loading..." textWrap="true"></label>
        <image class="loading-image" [animate]="animateOptions" src="~/app/images/record.png" width="50"></image>
      </ng-template>
    </GridLayout>
  </GridLayout>
  <StackLayout *ngIf="nowPlaying && playerVisible" row="0" col="0" class="player-card-background">
    <StackLayout class="back-button debug" (tap)="playerVisible = false">
      <label class="fa hide-button " text="&#xf0d7;"></label>
    </StackLayout>
    <player [nowPlaying]="nowPlaying"></player>
  </StackLayout>
</GridLayout>