<GridLayout rows="*" columns="*">
  <GridLayout #mainLayout rows="40,*,auto,52" row="0" col="0" columns="*" stretchLastChild="true" class="app-wrap">
    <header row="0" col="0" [data]="routeDate$ | async"></header>
    <GridLayout row="3" col="0" rows="*" columns="*,*,*,*" height="60" class="navigation">
      <label row="0" col="0" [highlight]="highlightBgColor" [nsRouterLink]="['/app/recent']" horizontalAlign="center" verticalAlignment="center" class=" navigation-option " [text]="'Recent'"></label>
      <label row="0" col="1" [highlight]="highlightBgColor" [nsRouterLink]="['/app/artists']" (tap)="clearArtistKeyCache()" horizontalAlign="center" verticalAlignment="center" class="navigation-option " [text]="'Artists'"></label>
      <label row="0" col="2" [highlight]="highlightBgColor" [nsRouterLink]="['/app/playlists']" horizontalAlign="center" verticalAlignment="center" class="navigation-option " [text]="'Playlists'"></label>
      <label row="0" col="3" [highlight]="highlightBgColor" [nsRouterLink]="['/app/supa']" horizontalAlign="center" verticalAlignment="center" class="navigation-option " [text]="'More'"></label>
    </GridLayout>
    <GridLayout row="2" col="0" *ngIf="nowPlaying" class="mini-player" rows="*,30" columns="80,*,80">
      <StackLayout row="0" class="" rowSpan="2" col="0" width="60" height="60">
        <image (tap)="showPlayer()" class="" width="60" height="60" [src]="getArtWork(nowPlaying?.song) | async"></image>
      </StackLayout>
      <label (tap)="showPlayer()" class="song-title" row="0" col="1" [text]="nowPlaying?.song?.title"></label>
      <label class="song-artist" row="1" col="1" [text]="nowPlaying?.song?.artist"></label>
      <ng-container [ngSwitch]="nowPlaying?.playing">
        <label row="0" col="2" rowSpan="2" class="fa mini-player-button" [animate]="animateOptions" text="&#xf1ce;" *ngSwitchCase="PlayingStatus.loading" textWrap="true"></label>
        <!--
        <ActivityIndicator row="0" col="2" rowSpan="2" class="fa mini-player-button" *ngSwitchCase="PlayingStatus.loading" busy="true"></ActivityIndicator>
      -->
        <label row="0" col="2" rowSpan="2" class="fa mini-player-button" text="&#xf04b;" (tap)="play()" *ngSwitchCase="PlayingStatus.paused" textWrap="true"></label>
        <label row="0" col="2" rowSpan="2" class="fa mini-player-button" text="&#xf04c;" (tap)="pause()" *ngSwitchCase="PlayingStatus.playing" textWrap="true"></label>
      </ng-container>
    </GridLayout>

    <GridLayout row="1" col="0" class="border-outline" [animate]="scaleAnimation">

      <router-outlet row="1" col="0" #routerOutlet="outlet" class="router-outlet" ></router-outlet>
      <ng-template #loading>
        <label class="loading-text" text="Loading..." textWrap="true"></label>
        <image class="loading-image" [animate]="animateOptions" src="~/app/images/record.png" width="50"></image>
      </ng-template>
    </GridLayout>
  </GridLayout>
  <StackLayout *ngIf="nowPlaying" [slideDownBack] [slideBackCallBack]="hidePlayerSlide" row="0" col="0" class="player-card-background" [translateY]="intialOffset" [animate]="animation">
    <StackLayout class="back-button" (tap)="hidePlayer()">
      <label class="fa hide-button " text="&#xf0d7;"></label>
    </StackLayout>
    <player [nowPlaying]="nowPlaying"></player>
  </StackLayout>
</GridLayout>
