ActionBar{
	background-color: #fff;
}
.back-button{
	width:20%;
	align-content: center;
}
.loading-album{
	text-align: center;
	font-size: 105;
	color: #ca9fdb;
	opacity: 0.8
}
.album-art Image{
	border-radius: 4;
	/* margin-top: 20;
	margin-bottom: 30; */
}
Progress{
	background-color:#222222;
	color: #ca9fdb;
	width: 67%;
	margin-top: 15px
}
.hide-button{
	font-size: 35;
	color: #ca9fdb;
}
.song-title, .song-artist, .song-album{
	text-align: center;
}

.song-title{
	font-size: 25;
}
.song-artist, .song-album{
	font-size: 18;
}

.player-controls Label{
	text-align: center;
	height: 66;
	color: #222222;

}
.mini-player-button{
	width: 66;
	font-size: 36;
}
.disabled{
	color: #ca9fdb;
}

.next-previous{
	font-size: 25
}
.time{
	text-align: center;
	font-size: 11px;
	vertical-align:top;
}