<ActionBar #actionBar>
	<StackLayout class="back-button" (touch)="nsRouter.back()">
		<Button row="0" col="0" class="fa hide-button" text="&#xf0d7;"></Button>
	</StackLayout>
	<NavigationButton visibility="collapsed"></NavigationButton>
</ActionBar>
<GridLayout rows="auto,25,10,28,22,22,*,66,*" columns="*">
	<AbsoluteLayout shadow="28" [marginBottom]="imageTopBottomMargin" [marginTop]="imageTopBottomMargin" [width]="imageHeightWidth"
	 [height]="imageHeightWidth" row="0" col="0" class="album-art">
		<Image top="0" [width]="imageHeightWidth" [height]="imageHeightWidth" left="0" class="" stretch="aspectFit" [src]="getArtWork(nowPlaying?.song)"></Image>
		<Label top="0" [animate]="animateOptions" [width]="imageHeightWidth" [height]="imageHeightWidth" left="0" class="fa loading-album" text="&#xf1ce;" *ngIf="nowPlaying?.playing === PlayingStatus.loading"></Label>
	</AbsoluteLayout>
	<GridLayout class="" row="1" col="0" rows="*" columns="80,*,80">
		<Label class="time" row="0" col="0" [text]="timeEclipsed" textWrap="true"></Label>
		<Progress class="" row="0" col="1" [width]="imageHeightWidth" [value]="nowPlaying?.position" (loaded)="onProgressLoaded($event)"></Progress>
		<Label class="time" row="0" col="2" [text]="nowPlaying?.song?.time" textWrap="true"></Label>
	</GridLayout>
	<Label class="song-title" row="3" col="0" width="100%" [text]="nowPlaying?.song?.title"></Label>
	<Label class="song-artist" row="4" col="0" width="100%" [text]="nowPlaying?.song?.artist"></Label>
	<Label class="song-album" row="5" col="0" width="100%" [text]="nowPlaying?.song?.album"></Label>
	<GridLayout class="player-controls" row="7" col="0" rows="*" columns="*,*,*">
		<Label row="0" col="0" class="fa next-previous" (tap)="player.playPreviousSong()" text="&#xf048;"></Label>
		<ng-container [ngSwitch]="nowPlaying?.playing">
			<Label row="0" col="1" class="fa mini-player-button disabled" text="&#xf04c;" *ngSwitchCase="PlayingStatus.loading" textWrap="true"></Label>
			<Label row="0" col="1" class="fa mini-player-button" text="&#xf04b;" (tap)="player.resumeSong()" *ngSwitchCase="PlayingStatus.paused"
			 textWrap="true"></Label>
			<Label row="0" col="1" class="fa mini-player-button" text="&#xf04c;" (tap)="player.pauseSong()" *ngSwitchCase="PlayingStatus.playing"
			 textWrap="true"></Label>
		</ng-container>
		<Label row="0" col="2" class="fa next-previous" (tap)="player.playNextSong()" text="&#xf051;"></Label>
	</GridLayout>
</GridLayout>