.debug {
  border-color: red;
  border-width: 1;
}
.debug-blue {
  border-color: blue;
  border-width: 1;
}
.debug-green {
  border-color: green;
  border-width: 1;
}
.debug-yellow {
  border-color: yellow;
  border-width: 1;
}
.debug-pink {
  border-color: pink;
  border-width: 1;
}
.debug-purple {
  border-color: purple;
  border-width: 1;
}
