// // // LiteColors
$backgroundColor: #fff;
$playerBackgroundColor: #fff;
$lightPurple: #ca9fdb;
$darkPurple: #4b0082;
$primaryColor: #36454f;
$lightGrey: #646262;
$accentsDark: #a4a4a4;
$accentsLight: #f9f9f9;
$skeleton: #f8f8f8;
$trackNumber: #8f8e8e;
$borders: #e4e3e3;
$miniPlayerBg: #dbd3de;

// // // Dark
// $backgroundColor: #000;
//$playerBackgroundColor: #fff;
// $lightPurple: #ca9fdb;
// $darkPurple: #4b0082;
// $primaryColor: #fff;
// $lightGrey: #646262;
// $accentsDark: #a4a4a4;
// $accentsLight: #36454f;
// $skeleton: #f8f8f8;
// $trackNumber: #8f8e8e;
// $borders: #36454f;
// $miniPlayerBg: $darkPurple;

// Other
$heart: #eb2e9c;
