// // // LiteColors
// $backgroundColor: #fff;
// $playerBackgroundColor: #fff;
// $tabBackgroundColor: #fff;
// $lightPurple: #ca9fdb;
// $darkPurple: #4b0082;
// $primaryColor: #36454f;
// $lightGrey: #646262;
// $accentsDark: #a4a4a4;
// $accentsLight: #f9f9f9;
// $skeleton: #f8f8f8;
// $trackNumber: #8f8e8e;
// $borders: #e4e3e3;
// $miniPlayerBg: #dbd3de;

// // Dark
$backgroundColor: #fff;
$playerBackgroundColor: #000;
$tabBackgroundColor: #000;
$lightPurple: #ca9fdb;
$darkPurple: #4b0082;
$primaryColor: #36454f;
$primaryColorTwo: #fff;
$lightGrey: #646262;
$accentsDark: #a4a4a4;
$accentsLight: #36454f;
$skeleton: #f8f8f8;
$trackNumber: #8f8e8e;
$borders: #36454f;
$miniPlayerBg: $darkPurple;

// Other
$heart: #eb2e9c;
