<section class="playing-footer">
	<div class="col-xs-12 gutter">
		<span class="gutter-progress"></span>
	</div>
	<div class="col-sm-2">
		<i *ngIf="!playing" class="fa fa-play-circle pull-left" (click)="playSong()"></i>
		<i *ngIf="playing" class="fa fa-pause-circle pull-left" (click)="pauseSong()"></i>
		<div class="ff-rw pull-left">
			<i class="fa fa-backward" (click)="previousSong()"></i>
			<i class="fa fa-forward" (click)="nextSong()"></i>
		</div>
	</div>
	<div class="col-sm-1">
		<img *ngIf="imgUrl !=null" class="pull-left cover-img" src={{imgUrl}} />
	</div>
	<div class="col-sm-7">
		<span class="title">{{nowPlayingSong.title}} {{time}}</span>
		<span class="artist">{{nowPlayingSong.artist}}</span>
		<span class="ablum text-muted">{{nowPlayingSong.album}}</span>
	</div>
	<div class="col-sm-2 heart pull-right text-right">
		<i class="fa fa-heart-o" *ngIf="songs.length>0"></i>
		<i class="fa fa-th-list" *ngIf="songs.length>0" [ngClass]="{activeInverse : playingSongs}" (click)="playingSongs = !playingSongs"></i>
	</div>
</section>
<section id="now-playing-list" *ngIf="playingSongs">
	<h3>Now Playing</h3>
	<subular-list-item [songs]="songs" [nowPlayingSong]="nowPlayingSong"></subular-list-item>
</section>
<div *ngIf="playingSongs" id="now-playing-modal" class="subular-modal" (click)="playingSongs = !playingSongs"></div>