.subular-list-box{
	height:calc(100% - 115px);
	list-style-type: none;
	padding:5px 0px;
	overflow-y:auto;
	border-right:1px solid #BBB !important;

}
.subular-list-box::-webkit-scrollbar {
		background: transparent !important;
}
.subular-list-box-item{
	padding:5px 6px;
	border-bottom:1px solid #eee !important;
	cursor: hand;
}
.subular-list-box-item:hover{
	color:#fff;
	background-color:#9d9d9d;
}
.scrollable-content::-webkit-scrollbar * {
	background:transparent !important;
}
.scrollable-content::-webkit-scrollbar-thumb {
	background:#999 !important;
}
.active{
	background: -webkit-linear-gradient(#4B0082,#4B0082);
	font-weight:700;
	color:#fff;
}