<StackLayout *ngIf="album$ | async as album" [animate]="animateOptions" height="100%" class="offset-for-slide">
	<ng-container *ngIf="returnLink$ | async as returnlink">

		<Label [nsRouterLink]="returnlink.link" class="fa back-link" text="&#xf0d9; {{ returnlink.text }}" textWrap="true"></Label>


		<ListView [slideBack]="returnlink.link" [itemTemplateSelector]="templateSelector" height="100%" [items]="songs$ | async"
		 class="list-group">
			<ng-template nsTemplateKey="header">
				<StackLayout class="header-list-item">
					<Label text="{{ album.name }}" class="title page-padding" textWrap="true"></Label>
					<StackLayout orientation="horizontal" class="button-wrap page-padding">
						<Button class="fa" text="&#xf0ed; Download" *ngIf="!allSongsDownloaded" (tap)="downloadAllSongs()"></Button>
						<Label class="fa" text="&#xf00c; Downloaded" *ngIf="allSongsDownloaded"></Label>
						<Button class="fa" text="&#xf074; Shuffle" (tap)="playAndShuffle()"></Button>
					</StackLayout>
				</StackLayout>
			</ng-template>
			<ng-template nsTemplateKey="regular" let-item="item" let-odd="odd" let-even="even">
				<GridLayout rows="*" columns="30,*,60" class="song-list-item page-padding">
					<Label row="0" , col="0" [text]="item.track" (longPress)="longpress(item)" (tap)="selectSong(item)" class="track-number"></Label>
					<Label row="0" , col="1" [text]="item.title" (longPress)="longpress(item)" (tap)="selectSong(item)" class="song"></Label>
					<ng-container [ngSwitch]="item?.state">
						<Label *ngSwitchCase="SongState.downloading" row="0" col="2" class="fa fa-download" text="&#xf1ce;"></Label>
						<!-- <ActivityIndicator *ngSwitchCase="SongState.downloading" row="0" col="2" rowSpan="2" class="fa fa-download" busy="true"></ActivityIndicator> -->
						<Label *ngSwitchCase="SongState.downloaded" row="0" col="2" class="fa fa-download"></Label>
						<Label *ngSwitchDefault row="0" , col="2" (tap)="download(item)" text="&#xf0ed;" class="fa fa-download" textWrap="true"></Label>
					</ng-container>
				</GridLayout>
			</ng-template>
		</ListView>
	</ng-container>

</StackLayout>