.artist-name {
  text-align: center;
  font-weight: bold;
  font-size: 18;
}
.album-card {
  /* border-width: 1;
	border-color: #e4e3e3;
	border-bottom-left-radius: 4;
	border-bottom-right-radius: 4; */
}
.album-image {
  background-color: #e4e3e3;
}
.album-name {
  /* font-size: 13; */
  color: #36454f;
  margin-top: 6;
  margin-bottom: 6;
  /* margin-left: 2; */
}
.artist-info {
  padding-right: 15;
  padding-left: 15;
  padding-bottom: 5;
}

.artist-image {
  border-radius: 38;
}
.header-list-item {
  margin-bottom: 10;
}
.button-wrap Button,
.button-wrap Label {
  width: 49%;
  padding-top: 15;
  padding-right: 15;
  padding-left: 15;
  padding-bottom: 5;
  color: #c4c2c2;
  font-size: 14;
  text-align: center;
}
.button-wrap Button:highlighted {
  background-color: #ca9fdb;
  color: #ffffff;
  font-weight: bold;
  border-radius: 7;
}
.song-list-title {
  color: #36454f;
  font-size: 18;
  font-weight: bold;
  margin-top: 20;
}
.song-list-sub {
  font-size: 12;
  color: #c4c2c2;
}
.song-list-info-wrap {
  padding-top: 12.5;
}
