.song-list-wrap,
.list-group {
  height: 100%;
}
.song-list-item {
  padding: 15;
}
.song {
  margin: 3% 2.5%;
  font-size: 18px;
}
.letter-wrap {
  margin-top: 130;
  font-size: 13px;
}

.letter-wrap label {
  height: 14;
  font-weight: bold;
  color: #4b0082;
  text-transform: uppercase;
  text-align: center;
}
