.header-list-item {
  margin-bottom: 10;
}
.button-wrap Button,
.button-wrap Label {
  width: 49%;
  padding-top: 15;
  padding-right: 15;
  padding-left: 15;
  padding-bottom: 5;
  color: #c4c2c2;
  font-size: 14;
  text-align: center;
}
.button-wrap Button:highlighted {
  background-color: #ca9fdb;
  color: #ffffff;
  font-weight: bold;
  border-radius: 7;
}
.song-list-title {
  color: #36454f;
  font-size: 28;
  font-weight: bold;
}
.song-list-sub {
  font-size: 12;
  color: #c4c2c2;
}
.song-list-info-wrap {
  padding-top: 12.5;
}
