<StackLayout [animate]="animateOptions" class="offset-for-slide">
	<Label text="< Artists" class="back-link" [nsRouterLink]="['/app/artists']"></Label>
	<Label [text]="albums[0].artist" class="artist-name" textWrap="true"></Label>
	<ScrollView>

		<WrapLayout orientation="horizontal">
			<StackLayout *ngFor="let item of albums" width="49%" orientation="vertical" [nsRouterLink]="['../../album', item.id ]">
				<Image width="200" height="200" [src]="getCoverArt(item.coverArt)"></Image>
				<FrescoDrawee *tkIfAndroid horizontalAlignment="stretch" width="200" height="200" [imageUri]="item.image" verticalAlignment="top"></FrescoDrawee>
				<Label class="nameLabel" [text]="item.name" textWrap="true"></Label>
			</StackLayout>
		</WrapLayout>
	</ScrollView>
</StackLayout>